1. Write a Python function to find the maximum of three numbers.

In [1]:
def max_of_three(a,b,c):
    return max(a,b,c)

In [2]:
max_of_three(170,89,45)

170

2. Write a  Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

In [6]:
def sum_list(list):
    
    total = 0
    for x in list:
        total = total + x
    return total

In [12]:
sum_list((8,2,3,0,7))

20

In [13]:
sum((8,2,3,0,7))

20

3. Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

In [14]:
def multiply(i):
    total = 1
    for x in i:
        total = total * x
    return total

In [17]:
multiply((8,2,3,-1,7))

-336